@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* In Project.css or main CSS file */
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
:root {
  --shadow-light: 0 1px 2px rgba(244, 237, 237, 0.927);
  --shadow1-medium1: 2px 2px 4px rgba(235, 226, 226, 0.2);
  --shadow1-medium1: 2px 2px 4px rgba(235, 226, 226, 0.2);
  --shadow-dark: 0 8px 16px rgba(0, 0, 0, 0.3);

  --overlay-bg-light: rgba(0, 0, 0, 0.8);
  --overlay-bg-dark: rgba(0, 0, 0, 0.9);
  --overlay-bg-accent: rgba(52, 152, 219, 0.8);

  --overlay-text-light: #ffffff;
  --overlay-text-dark: #ffffff;
  --overlay-text-accent: #ffffff;

  --primary-color: #ffffff;
  --secondary-color: #abf2c8;
  --text-color: #ffffff;
  --background-color: #141414df;
  --container-bg-color: #0c0d0d;
  --sub-div-bg-color: #0f1c11;
  --main-bg-color: #1c1c1c;
  --font-family: 'Arial', sans-serif;
  --font-size: 16px;
  --line-height: 1.5;
  --border-radius: 5px;
  --font-family: 'Roboto', sans-serif;

  --first-level-padding: 10px;
  --second-level-padding: 20px;
  --third-level-padding: 30px;
  --fourth-level-padding: 40px;
  --fifth-level-padding: 50px;
}
* {
  box-sizing: border-box;

}

body {
  background-color: var(--main-bg-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--text-color);
  line-height: var(--line-height);
  margin: 0;
  padding: 10px;
color: var(--primary-color);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}
#home,
#about,
#contacts,
#portfolio,
#projects,
#blog,
#services,
#about,
#testimonial {
  padding-top: 100px;
  background-color: var(--main-bg-color);


  /* height: 100vh; */
  /* min-height: fit-content; */
}



.content-title {
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
.content-subtitle {
  color: var(--secondary-color);
  font-size: 1.5rem;
  /* font-weight: bold; */
  /* border-bottom: var(--primary-color) 1px solid; */
  border-left: var(--primary-color) 1px solid;
padding: 1rem;
  border-radius: 18px;
  font-style: italic;
margin-bottom:1rem;
  
}
.content-subtitle:hover {
  border-bottom: rgb(247, 255, 7) 2px solid;
  border-left: rgba(234, 255, 0, 0.962) 2px solid;
}
.content-container {
  padding: 0rem 0.5rem;
}
footer {
  text-align: center;
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
  margin-top: 40px;
  box-shadow: var(--shadow-light);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-light);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #c86b00;
  box-shadow: var(--shadow-dark);
}

::-webkit-scrollbar-track {
  background-color: var(--background-color);
  border-radius: var(--border-radius);
}

::-webkit-scrollbar-corner {
  background-color: var(--background-color);
}
